:root {
  /* Constantes de cores */
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
  
  /* Variáveis padrão (Tema Claro) */
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  
  --btnBg: var(--white);       
  --btnFontColor: var(--black);
}

 {
  color: var(--fontColor);
}

body {
  font-family: monospace;
  background: var(--bg);
}

ul li {
  list-style: circle;
}

ul .List { 
  list-style: square;
}

.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn:focus {
  outline-style: none;
}